[includeIf "gitdir:~/code/personal/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/code/work/"]
  path = ~/.gitconfig-work

[core]
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only --syntax-theme=Dracula

[gpg]
  format = ssh

[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
  gpgSign = true

[alias]
  lg = log --graph --decorate --oneline --all --pretty=format:'%C(auto)%h %d %s %C(blue)<%an> %C(green)(%cr)'

[tag]
  forceSignAnnotated = false

[delta]
  syntax-theme = Dracula
  line-numbers = true
  side-by-side = true
  navigate = true
  dark = true

[diff]
  tool = cursor

[difftool]
  prompt = false
  trustExitCode = true

[difftool "cursor"]
  cmd = cursor --wait --diff "$LOCAL" "$REMOTE"

[merge]
  tool = cursor
  conflictstyle = zdiff3

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "cursor"]
  cmd = cursor --wait --merge "$REMOTE" "$LOCAL" "$BASE" "$MERGED"
  trustExitCode = true
